body{
    background-color: #fffffe;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    margin: 20px 10px;
    position: relative;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    box-sizing: border-box;
}
.banner h1{
    color: #094067;
}
.banner h2{
    color: #5f6c7b;
    text-decoration: underline;
}
.information{
    position: relative;
    font-size: 24px;
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: #094067;
    border:1px solid #094067;
    border-radius: 10px;
}
.information form{
    color: #fffffe;
    margin: 20px;
    padding: 10px;
    font-family: helvetica;
}
.information form input[type="text"], input[type="email"]{
    width: 100%;
}

.information form input[type="text"],  input[type="tel"], input[type="password"], input[type="email"]{
    border-radius: 25px;
    font-size: 40px;
    padding: 10px;
}
.information form input[type="date"]{
    font-size: 25px;
    border-radius: 20px;
    padding: 5px;
}
.information form select, textarea{
    font-size: 30px;
    border-radius: 5px;
}
.information form input[type="submit"]{
    margin: auto;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    font-size: 25px;
    background-color: #3da9fc;
    color: #fffffe;
    font-weight: bold;
}

@media screen and (max-width: 640px){
    .banner{
        margin: 20px 10px;
        position: relative;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        box-sizing: border-box;
    }
    .information{
        position: relative;
        font-size: 18px;
        margin: 20px 20px;
        padding: 20px 20px;
        background-color: #094067;
        border:1px solid #094067;
        border-radius: 10px;
    }
    .information form input[type="text"],  input[type="tel"], input[type="password"], input[type="email"]{
        border-radius: 25px;
        font-size: 20px;
        padding: 5px;
        width: 100%;
    }
    .information form input[type="date"]{
        font-size: 18px;
        border-radius: 20px;
        padding: 5px;
        height: 1.2em;
    }
    .information form textarea{
        font-size: 20px;
        border-radius: 5px;
        height: 15%;
        width: 100%;
    }
    .information form select{
        font-size: 18px;
        width: 100%;
    }
    .information form input[type="radio"]{
        display: inline-block;
    }
}
@media screen and (max-width: 300px){
    .banner{
        margin: 20px 10px;
        position: relative;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
        box-sizing: border-box;
    }
    .information{
        position: relative;
        font-size: 10px;
        margin: 4px 4px;
        padding: 4px 4px;
        background-color: #094067;
        border:1px solid #094067;
        border-radius: 10px;
    }
    .information form input[type="text"],  input[type="tel"], input[type="password"], input[type="email"]{
        border-radius: 25px;
        font-size: 10px;
        padding: 2px;
        width: 100%;
    }
    .information form input[type="date"]{
        font-size: 12px;
        border-radius: 20px;
        padding: 5px;
        height: 1.2em;
    }
    .information form textarea{
        font-size: 13px;
        border-radius: 5px;
        height: 15%;
        width: 100%;
    }
    .information form select{
        font-size: 10px;
        width: 100%;
    }
    .information form input[type="radio"]{
        display: inline-block;
    }
}
